<form {{action 'submitRegisterForm' email password userName on='submit'}} class="form">

  <div class="container">
    <label for="email"><b>אי מייל:</b></label>
      {{input type="email" name=email required=true value=email}}

    <label for="psw"><b>סיסמה:</b></label>
      {{input type="password" name=password required=true value=password}}

    <label for="psw"><b>שם משתמש:</b></label>
      {{input type="text" name=userName required=true value=userName}}

    {{input type="hidden" name=_token value='e(csrf_token())'}}

    <button type="submit" class="btnMenu">הרשם</button>
  </div>

</form>
